<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="net.sf.log4jdbc.DriverSpy"/>
				<property name="url" value="jdbc:log4jdbc:oracle:thin:@tjoeunkn.iptime.org:1521:xe"/>
				<property name="username" value="SEMI_502_TEAM_1"/>
				<property name="password" value="SEMI_502_TEAM_1"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
	    <mapper resource="com/qs/www/approval/model/dao/ApprovalDAO.xml"/>
		<mapper resource="com/qs/www/member/model/dao/MemberDAO.xml"/>
		<mapper resource="com/qs/www/mypage/model/dao/MypageDAO.xml"/>
		<mapper resource="com/qs/www/welfare/model/dao/WelfareDAO.xml"/>
		<mapper resource="com/qs/www/schedule/model/dao/ScheduleDAO.xml"/>
     	<mapper resource="com/qs/www/board/model/dao/NoticeDAO.xml"/>
     	<mapper resource="com/qs/www/board/model/dao/FreeDAO.xml"/>
	</mappers>
	
</configuration>
